.App {
  text-align: center;
}
.CharCard{
  color:cornflowerblue;
  border-style: double;
  border-color: cadetblue;
  border-width: 7px;
}

.allTheCards{
  display: grid;
  grid-template-columns: auto auto auto auto;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
